.ProductList img {
    width: 100%;
    height: 284px;
    object-fit: contain;
    margin-bottom: 30px;
}

.ProductList h4 {
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.ProductList h5 {
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.ProductList p {
    color: var(--dark-grey);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}